
### IMPORT LIBRARIES AND DATASET

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import sqrt

In [54]:
ratings_df = pd.read_csv('/content/ratings.csv')
ratings_df.head()

   userId  movieId  rating     timestamp
0       1      169     2.5  1.204928e+09
1       1     2471     3.0  1.204927e+09
2       1    48516     5.0  1.204927e+09
3       2     2571     3.5  1.436165e+09
4       2   109487     4.0  1.436165e+09

In [55]:
movies_df = pd.read_csv('/content/movies.csv')
movies_df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

### DATA PREPROCESSING

In [56]:
#In movies dataset we have year along with the title
#So first we will extract year from title and assign it to a new column
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))', expand = True)
movies_df.head()

   movieId  ...    year
0        1  ...  (1995)
1        2  ...  (1995)
2        3  ...  (1995)
3        4  ...  (1995)
4        5  ...  (1995)

[5 rows x 4 columns]

In [58]:
#Remove parantheses from year
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)', expand=True)
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [59]:
#Remove year from title 
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [61]:
#Remove all the whitespaces from title
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

In [62]:
#Convert Genres into a list
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [63]:
#One Hot Encoding of Genres
movies_copy = movies_df.copy()

for index, row in movies_df.iterrows():
  for genre in row['genres']:
    movies_copy.at[index, genre] = 1

movies_copy.head()

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       NaN                NaN
1        2                      Jumanji  ...       NaN                NaN
2        3             Grumpier Old Men  ...       NaN                NaN
3        4            Waiting to Exhale  ...       NaN                NaN
4        5  Father of the Bride Part II  ...       NaN                NaN

[5 rows x 24 columns]

In [64]:
#Filling NAN values with 0 
movies_copy = movies_copy.fillna(0)
movies_copy.head()

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       0.0                0.0
1        2                      Jumanji  ...       0.0                0.0
2        3             Grumpier Old Men  ...       0.0                0.0
3        4            Waiting to Exhale  ...       0.0                0.0
4        5  Father of the Bride Part II  ...       0.0                0.0

[5 rows x 24 columns]

In [66]:
#Now let's check ratings dataset
ratings_df.head()

   userId  movieId  rating     timestamp
0       1      169     2.5  1.204928e+09
1       1     2471     3.0  1.204927e+09
2       1    48516     5.0  1.204927e+09
3       2     2571     3.5  1.436165e+09
4       2   109487     4.0  1.436165e+09

In [67]:
#Timestamp column is not necessary, so we can drop it
ratings_df = ratings_df.drop(['timestamp'], axis=1)
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

### CONTENT BASED RECOMMENDATION SYSTEM

In [68]:
#Let's start by taking User Input for ratings of different movies
user_input = [
              {'title' : 'Grand Slam', 'rating' : 5.6},
              {'title' : 'Zero', 'rating' : 7},
              {'title' : 'Jumanji', 'rating' : 8.5},
              {'title' : 'Toy Story', 'rating' : 4.5}
]

movies_input = pd.DataFrame(user_input)
movies_input

        title  rating
0  Grand Slam     5.6
1        Zero     7.0
2     Jumanji     8.5
3   Toy Story     4.5

In [70]:
#Add movieID to user input
#First we will filter selected movies from original dataset
input_id = movies_df[movies_df['title'].isin(movies_input['title'].tolist())]
#Merging the two datasets
movies_input = pd.merge(input_id, movies_input)
movies_input

   movieId       title  ...  year rating
0        1   Toy Story  ...  1995    4.5
1        2     Jumanji  ...  1995    8.5
2   129291        Zero  ...  2012    7.0
3   151709        Zero  ...  2015    7.0
4   151697  Grand Slam  ...  1967    5.6

[5 rows x 5 columns]

In [71]:
#Drop the unnecessary columns like genres and year
movies_input = movies_input.drop(['genres','year'], axis=1)
movies_input

   movieId       title  rating
0        1   Toy Story     4.5
1        2     Jumanji     8.5
2   129291        Zero     7.0
3   151709        Zero     7.0
4   151697  Grand Slam     5.6

In [75]:
#Now we will check for same movies given in input in original dataset
movies_user = movies_copy[movies_copy['movieId'].isin(movies_input['movieId'].tolist())]
movies_user

       movieId       title  ... Film-Noir (no genres listed)
0            1   Toy Story  ...       0.0                0.0
1            2     Jumanji  ...       0.0                0.0
27902   129291        Zero  ...       0.0                0.0
34203   151697  Grand Slam  ...       0.0                0.0
34206   151709        Zero  ...       0.0                0.0

[5 rows x 24 columns]

In [76]:
#Reset index of this dataset 
movies_user = movies_user.reset_index(drop=True)
movies_user

   movieId       title  ... Film-Noir (no genres listed)
0        1   Toy Story  ...       0.0                0.0
1        2     Jumanji  ...       0.0                0.0
2   129291        Zero  ...       0.0                0.0
3   151697  Grand Slam  ...       0.0                0.0
4   151709        Zero  ...       0.0                0.0

[5 rows x 24 columns]

In [77]:
#Create a Genre Table out of this dataset
UserGenreTable = movies_user.drop(['movieId','title','genres','year'], axis=1)
UserGenreTable

   Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0        1.0        1.0       1.0  ...      0.0        0.0                 0.0
1        1.0        0.0       1.0  ...      0.0        0.0                 0.0
2        0.0        0.0       0.0  ...      0.0        0.0                 0.0
3        0.0        0.0       0.0  ...      0.0        0.0                 0.0
4        0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [79]:
#dot product to get weights
UserProfile = UserGenreTable.transpose().dot(movies_input['rating'])
#User Profile for every genre
UserProfile

Adventure             13.0
Animation              4.5
Children              13.0
Comedy                 4.5
Fantasy               13.0
Romance                0.0
Drama                 12.6
Action                 0.0
Crime                  0.0
Thriller               7.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 5.6
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [80]:
#Create a genre table for every movie in original datset
GenreTable = movies_copy.set_index(movies_copy['movieId'])
GenreTable

         movieId                        title  ... Film-Noir (no genres listed)
movieId                                        ...
1              1                    Toy Story  ...       0.0                0.0
2              2                      Jumanji  ...       0.0                0.0
3              3             Grumpier Old Men  ...       0.0                0.0
4              4            Waiting to Exhale  ...       0.0                0.0
5              5  Father of the Bride Part II  ...       0.0                0.0
...          ...                          ...  ...       ...                ...
151697    151697                   Grand Slam  ...       0.0                0.0
151701    151701                   Bloodmoney  ...       0.0                1.0
151703    151703         The Butterfly Circus  ...       0.0                0.0
151709    151709                         Zero  ...       0.0                0.0
151711    151711        The 2000 Year Old Man  ...       0.0                1.0

[34208 rows x 24 columns]

In [81]:
GenreTable = GenreTable.drop(['movieId','title','genres','year'], axis=1)
GenreTable.head()

         Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
movieId                                  ...
1              1.0        1.0       1.0  ...      0.0        0.0                 0.0
2              1.0        0.0       1.0  ...      0.0        0.0                 0.0
3              0.0        0.0       0.0  ...      0.0        0.0                 0.0
4              0.0        0.0       0.0  ...      0.0        0.0                 0.0
5              0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [82]:
#Final Recommendation value for each movie
Recommendation_df = ((GenreTable*UserProfile).sum(axis=1))/UserProfile.sum()
Recommendation_df.head()

movieId
1    0.655738
2    0.532787
3    0.061475
4    0.233607
5    0.061475
dtype: float64

In [83]:
#Sort the values to get movies with high recommendation values
Recommendation_df = Recommendation_df.sort_values(ascending=False)
Recommendation_df.head()

movieId
148775    0.842896
26093     0.827869
144350    0.781421
62729     0.766393
2138      0.766393
dtype: float64

In [84]:
#Final recommendation table for movies
RecommendationTable =  movies_df.loc[movies_df['movieId'].isin(Recommendation_df.head(20).keys())]
RecommendationTable

       movieId  ...  year
664        673  ...  1996
2055      2138  ...  1978
2715      2800  ...  1992
4923      5018  ...  1991
4943      5038  ...  1982
6793      6902  ...  2002
8605     26093  ...  1962
8974     26662  ...  1989
9825     32031  ...  2005
10454    37857  ...  2005
13088    62729  ...  2008
14035    70305  ...  2009
14348    71745  ...  2009
22538   107658  ...  1987
26770   124519  ...  1961
27097   125972  ...  2001
28220   130520  ...  2015
32313   144350  ...  2009
32854   146305  ...  2000
33509   148775  ...  2009

[20 rows x 4 columns]